#btn-verify{
    padding: 15px 20px;
    font-size: 1rem;
    color: white;
    font-weight: 700;
    background-color: black;
    border: 1px solid ;
    border-radius: 19px;
    cursor: pointer;
    width: 15%;
    margin-top: 2%;
    margin-left: 2%;
    font-family: 'Nunito', sans-serif;
    right:30%;
    
  }
  
#btn-verify:hover{
    /* background-color: black;
    color:#FFFFFF; */
    background-color: white;
    color: black;
    border-color:#74736d;
  }